footer {
  background-color: #25252d;
  border-top-right-radius: 80px;
  margin-top: 50px;
  padding: 70px 40px 40px 40px;
}
@media (min-width: 576px) {
  footer .left-container-footer {
    display: flex;
  }
}
@media (min-width: 576px) {
  footer .right-container-footer {
    display: flex;
  }
}
footer .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin: 0 auto;
  width: 90px;
}
@media (min-width: 576px) {
  footer .logo {
    height: 40px;
    margin: 0px auto;
    width: auto;
  }
}
footer ul {
  color: #f6efef;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
footer ul li {
  display: flex;
  font-weight: 300;
  justify-content: center;
  margin: 0 auto 10px;
}
@media (min-width: 576px) {
  footer ul li {
    justify-content: start;
  }
}
footer ul .tittle-li {
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 40px;
}
@media (min-width: 576px) {
  footer ul .tittle-li {
    margin-bottom: 35px;
    margin-top: 0px;
  }
}
footer .attribution {
  color: #f6efef;
  font-size: 11px;
  padding-top: 60px;
  text-align: center;
}
footer .attribution a {
  color: #f6efef;
}

header {
  background: url(../images/fondo.png),
    linear-gradient(328deg, #ff3d54 0%, #ff8f70 100%);
  background-position: center;
  background-size: 1200px;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  height: auto;
  border-bottom-left-radius: 80px;
  padding: 50px 30px 150px;
  margin-bottom: 50px;
}
@media (min-width: 766px) {
  header {
    background-size: auto;
  }
}

.header-container {
  color: #f6efef;
}

.logo-header {
  width: 80%;
}

.navbar-collapse {
  background-color: #f6efef;
  border-radius: 5px;
  left: 50%;
  margin-left: -50%;
  margin-top: 20px;
  padding: 20px;
  position: absolute;
  top: 50px;
  width: 100%;
}
@media (min-width: 766px) {
  .navbar-collapse {
    align-items: baseline;
    background-color: transparent;
    border-radius: 0px;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    width: 80%;
  }
}
.navbar-collapse #navbarDropdown {
  color: #4b5862;
  display: table;
  font-weight: 500;
  justify-content: center;
  margin: 0 auto;
}
@media (min-width: 766px) {
  .navbar-collapse #navbarDropdown {
    color: #f6efef;
  }
}
.navbar-collapse .dropdown-menu {
  background-color: #e9ecef;
  border-radius: 5px;
  border: none;
  flex-direction: column;
  justify-content: center;
  margin: 15px auto;
}
.navbar-collapse .dropdown-item {
  color: #4b5862;
  margin-bottom: 10px;
  text-align: center;
}
.navbar-collapse .dropdown-toggle::after {
  display: none;
}
.navbar-collapse .arrow-icon {
  margin-left: 3px;
}
.navbar-collapse hr {
  border: 1px solid #e9ecef;
}
.navbar-collapse .d-flex {
  flex-direction: column;
}
@media (min-width: 766px) {
  .navbar-collapse .d-flex {
    align-items: baseline;
    flex-direction: row;
  }
}
.navbar-collapse .d-flex a {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 766px) {
  .navbar-collapse .d-flex a {
    color: #f6efef;
    font-weight: 400;
  }
}
.navbar-collapse .d-flex .navbutton {
  background-image: linear-gradient(328deg, #ff3d54 0%, #ff8f70 100%);
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
@media (min-width: 766px) {
  .navbar-collapse .d-flex .navbutton {
    background-color: #f6efef;
    background-image: none;
    border: 0px;
    color: #ff525d;
    margin-left: 15px;
    padding: 0px 20px;
    width: 100%;
  }
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 426px) {
  .header-section {
    height: 140px;
  }
}
.header-section h2 {
  font-size: 3.1rem;
  font-weight: 400;
  letter-spacing: -0.07rem;
  margin: 110px auto 20px;
}
@media (min-width: 426px) {
  .header-section h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
  .header-section h2 br {
    display: none;
  }
}
@media (min-width: 990px) {
  .header-section h2 {
    font-size: 5rem;
  }
}
.header-section p {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}
@media (min-width: 426px) {
  .header-section p {
    margin-bottom: 40px;
  }
  .header-section p br {
    display: none;
  }
}

.contain-buttons-header-section {
  display: flex;
  justify-content: space-around;
  margin: 1px auto;
  width: 270px;
}
@media (min-width: 426px) {
  .contain-buttons-header-section {
    width: 280px;
  }
}

.buttons {
  align-items: center;
  background-color: #f6efef;
  border-radius: 30px;
  border: 1px solid #f6efef;
  color: #ff7a85;
  cursor: pointer;
  display: flex;
  font-family: 'Overpass', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  height: 40px;
  padding: 0px 15px;
}

.buttons:focus {
  outline: none;
}

.buttons:hover {
  background-color: #ff525d;
  color: #f6efef;
}

.line-button {
  background-color: transparent;
  color: #f6efef;
  cursor: pointer;
}

.line-button:hover {
  background-color: #f6efef;
  color: #ff7a85;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
main h4 {
  color: #1f3f5b;
  font-size: 2.7rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  margin: 0px auto 40px;
  padding: 0px 28px;
}
main p {
  font-weight: 300;
  line-height: 2.5rem;
  margin-bottom: 40px;
  padding: 0px 28px;
}

@media (min-width: 576px) {
  .primary-main-section .primary-section-title {
    font-size: 3.1rem;
    margin-bottom: -20px;
    margin-top: 20px;
  }
}

@media (min-width: 990px) {
  .primary-main-section .primary-section-title {
    font-size: 4rem;
    margin-top: 70px;
  }
}

.primary-main-section .primary-section-row {
  flex-direction: column-reverse;
}
@media (min-width: 576px) {
  .primary-main-section .primary-section-row {
    flex-direction: row;
  }
}

@media (min-width: 576px) {
  .primary-main-section .container-text-primary-section {
    align-self: center;
  }
  .primary-main-section .container-text-primary-section p {
    margin-left: 20px;
    text-align: start;
  }
}

@media (min-width: 576px) {
  .primary-main-section .primary-section-subtitle {
    display: flex;
    font-size: 1.9rem;
    margin-left: 20px;
    margin-top: 70px;
    text-align: start;
  }
  .primary-main-section .primary-section-subtitle br {
    display: none;
  }
}

@media (min-width: 990px) {
  .primary-main-section .primary-section-subtitle {
    font-size: 2.8rem;
  }
}

.primary-main-section .container-img-primary-section {
  align-items: center;
  display: flex;
  overflow-x: hidden;
}

.primary-main-section .design-img-body-mb {
  margin: 0 auto 40px;
  width: 100%;
}
@media (min-width: 576px) {
  .primary-main-section .design-img-body-mb {
    display: none;
  }
}

.primary-main-section .design-img-body-dk {
  display: none;
}
@media (min-width: 576px) {
  .primary-main-section .design-img-body-dk {
    align-items: center;
    display: flex;
    width: 700px;
  }
}
@media (min-width: 990px) {
  .primary-main-section .design-img-body-dk {
    margin-left: 150px;
  }
}

.secondary-main-section {
  background-blend-mode: screen;
  background-color: #3f4164;
  background-image: url(../images/bg-pattern-circles.svg);
  background-position-y: -200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  color: #f6efef;
  margin-top: 200px;
  padding-bottom: 30px;
}
@media (min-width: 576px) {
  .secondary-main-section {
    padding-bottom: 0px;
    margin-top: 130px;
    height: 270px;
  }
}
@media (min-width: 990px) {
  .secondary-main-section {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.secondary-main-section .container-text-secondary-section {
  align-self: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media (min-width: 576px) {
  .secondary-main-section .container-text-secondary-section {
    align-items: center;
    align-self: auto;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
@media (min-width: 990px) {
  .secondary-main-section .container-text-secondary-section {
    padding-top: 60px;
  }
}
.secondary-main-section h3 {
  font-size: 3.1rem;
  font-weight: 400;
  letter-spacing: -0.07rem;
  margin: 0px auto 20px;
  padding: 0 28px;
}
@media (min-width: 576px) {
  .secondary-main-section h3 {
    display: flex;
    font-size: 2.9rem;
    text-align: start;
  }
  .secondary-main-section h3 br {
    display: none;
  }
}
.secondary-main-section p {
  margin-bottom: 50px;
}
@media (min-width: 576px) {
  .secondary-main-section p {
    margin-bottom: 0px;
    text-align: start;
  }
}
.secondary-main-section .container-img-secondary-section {
  display: flex;
  justify-content: center;
}
.secondary-main-section .phones-img-body {
  margin-top: -170px;
  width: 370px;
}
@media (min-width: 576px) {
  .secondary-main-section .phones-img-body {
    margin-top: -50px;
  }
}

.third-main-section {
  margin: 0auto;
}
@media (min-width: 576px) {
  .third-main-section .container-img-third-section {
    align-items: center;
    display: flex;
  }
}
.third-main-section .laptop-img-body {
  margin-top: 50px;
  margin: 0 auto 40px;
  width: 100%;
}
@media (min-width: 576px) {
  .third-main-section .laptop-img-body {
    height: 600px;
    margin-left: -450px;
    width: auto;
  }
}
@media (min-width: 990px) {
  .third-main-section .laptop-img-body {
    margin-left: -200px;
    width: 900px;
  }
}
@media (min-width: 576px) {
  .third-main-section .container-text-third-section {
    align-self: center;
    padding-top: 40px;
    text-align: start;
  }
}

html {
  font-size: 62.5%;
  font-family: 'Overpass', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  box-sizing: border-box;
  color: #4b5862;
  font-size: 1.6rem;
  height: 100%;
  letter-spacing: 0.08rem;
  margin: 0;
  width: 100%;
}

h1,
h2,
h4,
ul,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}
