//  COLORS
// Primary
$cta-text: hsl(356, 100%, 66%);
$cta-hover-background: hsl(355, 100%, 74%);
$headings: hsl(208, 49%, 24%);
//  Neutral
$white-text: hsl(0, 26%, 95%);
$footer-text: hsl(240, 2%, 79%);
$body-copy: hsl(207, 13%, 34%);
$footer-background: hsl(240, 10%, 16%);
$body-background: #fafafa;
$nav-background: #e9ecef;

// FONTS
$primary-font: "Overpass", sans-serif;
$secondary-font: "Ubuntu", sans-serif;
